* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navBar {
    align-items: center;
    background-color: aquamarine;
    display: flex;
    font-size: 0.9rem;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    width: 100vw;
}
.logo {
    height: 64px;
    width: 64px;
}
.navBar ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    width: 100%;
}
.navbar ul > li {
    text-decoration: none;
}
.bell {
    color: rgb(10, 81, 81);
}